<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Επικοινωνήστε μαζί μας!</h2>
                <hr class="primary">
                <p>Κομοτηνή Λ. Ηρώων 7 ΤΚ 69130 Τηλ. 2531082094</p>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-4 text-center">
                <a href="https://www.facebook.com/Nebula.gr/" target="_blank">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Facebook</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <a href="https://maps.app.goo.gl/ydBccBSsJgXzxzRy5" target="_blank">
                    <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Τοποθεσία</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <a href="mailto:nebula@nebula.gr">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>nebula@nebula.gr</p>
                </a>
            </div>
        </div>
    </div>
</section>
